/*map page styling*/

.maplibregl-popup-anchor-bottom-right .maplibregl-popup-tip {
    display:none
    }
    
.overlay {
    position: absolute;
    /* top: 3.9vw; */
    top:0;
    height: 20vw;
    margin: auto;
    background: rgba(0, 0, 0, 0.6); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    opacity:1;
    color: white;
    text-align: center;
    padding: 4.5vw;
  }

  .overlay h1 {
    font-size:8vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.info {
    position: relative;
    width: 80%;
    left: 10%;
    top: 5px;
    padding: 10px 10px 10px 0px;
}


.info h2 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;

}

.info p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.map { /*formats the position of the map relative to the web page*/
    position: relative; 
    max-width: 1200px;
    width: 80%;
    left: 10%;
    height: 40vw;
}

.map-selection { 
    position: relative;
    font: 14px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    top: 5px;
    left: 9%;
    width: 260px;
    padding: 10px; 
    margin: 5px;
}

/*.geocoder { 
    position: relative;
    margin: 10px 0px 10px; 
 } */

#returnbutton {
    position: relative;
    margin: 10px 0 10px; /*adds padding so that it does not look cramped*/
    width: 100%; /*sets button width to the width of the block underneath it*/
}


/* This styles the collapse button itself*/

.collapsible {
    position: relative;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 14px;  
}
  
/* The background colour highlights the button  when users mouse over it */

.collapsible:hover {
    background-color: #ccc; 
}
  
/* This styles the collapse button content*/
.content {
    display: none;   /* The menu is hidden by default */
    overflow: hidden;
    background-color: #f1f1f1;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for the plus sign */
    font-size: 14px;
    color: white;
    float: right;
    margin-left: 5px;
}
  
.active-collapse:after {
    content: "\2796"; /* Unicode character for the minus sign */
 }

/*formatting of legend background block (see further down for legend content formatting)*/
.legend {
    position: relative;
    display: block;
    height: 220px;
    width: 180px;
    background-color: #fff;
    border-width: 1px; 
    border-style: solid;
    border-color:lightgrey;
    bottom: 0;
    margin-bottom: 5px;
    margin-top: 5px;
    font: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 15px;
    left: 10%;
    z-index: 1;  /* Specifies stack order of elements */
} 
 /* legend text sizing */
.legend h3 {
    font-size: 14px;
}

.legend h4 {
    font-size: 12px;
}

/* Styling of legend icons */
.legend div span {
    display: inline-block;
    height: 9px; /*size of circle*/
    width: 9px;
    margin-right: 5px; /*position of circle*/
}

.offset {
    margin-top: 10px;
}

.form { 
    padding: 5px; /*creates spacing to prevent looking cramped*/
}

.tbody td, th {
	margin-top: 10px;
    border: 1px solid;
    padding: 8px;
	/* border-collapse:collapse; */
	border-spacing: 12px 10px 12px;
    font-family: Arial, Helvetica, sans-serif;
    border-color: #ccc;
}

.tbody tr:nth-child(even){background-color: #f2f2f2;}

.column-header {
	padding-left: 9px;
    background-color: #ccc;
    border: 1px solid;
    border-color: #ccc;
}
.end-background {
    background-color: #ccc;
    padding:10px;
}

.end {
    position: relative;
    width: 80%;
    left: 10%;
    top: 5px;
    padding: 10px 10px 10px 0px;
    font-size: 11px;
}

.end h3 {
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

